.base-note {
  font-size: 1.4rem;
  border: 2px solid rgb(224, 224, 224);

  transition: border 100ms linear;
  cursor: pointer;
}

.base-note:hover {
  border: 4px solid var(--call-clr);
}

.base-note .sub-title {
  padding: 5rem 2rem 4rem;

  border-bottom: 1px solid var(--main-clr);

  text-align: center;

  font-size: 3rem;

  color: var(--main-clr);
}

.base-note .note-info {
  position: relative;

  display: flex;

  min-height: 5rem;
}

.base-note .note-info::before {
  content: "";
  position: absolute;

  left: 50%;
  top: 0;

  width: 1px;
  height: 100%;

}

.base-note .note-info > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  min-height: inherit;

  text-align: center;
}

.base-note .note-info .note-name {
  font-size: 1.5rem;

  color: var(--main-white-clr);
  background-color: var(--call-clr);
  border-right: 1px solid var(--main-clr);
}

.base-note .note-info .date {
  color: var(--main-white-clr);
  background-color: var(--main-clr);
}