.base-note {
  position: relative;
  opacity: 0;
  font-size: 1.4rem;
  border: 3px solid rgb(224, 224, 224);

  transform: translateX(-200%);
  transition: border 100ms linear, transform 400ms ease-out;
  cursor: pointer;
  overflow-wrap: anywhere;
}

.base-note:hover {
  border: 3px solid var(--call-clr);
}

.base-note .sub-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  min-height: 200px;
  border-bottom: 1px solid var(--fixed-dark-clr);

  text-align: center;
  font-size: 3rem;

  color: var(--main-clr-two);
  background-color: var(--bg-clr);
}

.base-note .note-info {
  position: relative;

  display: flex;

  min-height: 5rem;
}

.base-note .note-info::before {
  content: "";
  position: absolute;

  left: 50%;
  top: 0;

  width: 1px;
  height: 100%;

}

.base-note .note-info > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  min-height: inherit;

  text-align: center;
}

.base-note .note-info .note-name {
  font-size: 1.5rem;

  color: var(--fixed-white-clr);
  background-color: var(--call-clr);
  border-right: 1px solid var(--fixed-dark-clr);
}

.base-note .note-info .date {
  color: var(--fixed-white-clr);
  background-color: var(--fixed-dark-clr);
}

/* Edit Mode */

.base-note.edit {
  transform: scale(1.1)  !important;
  min-width: 50%;
  z-index: 1000;
}

.base-note.edit .sub-title {
  min-height: 30vh;
}