* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  /* CSS HEX */
  --main-clr: #272838ff;
  --secondory-clr: #e1b07eff;
  --main-white-clr: #fafafa;
  --call-clr: #197278ff;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;

  transition: 300ms;
}

.fade-out {
  opacity: 0;
}

img {
  border: 2px solid white;
  border-radius: 50%;
  max-width: 100px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: var(--main-clr);
}