* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  /* CSS HEX */
  --main-clr: #fafafa;
  --main-clr-two: #272838ff;
  --bg-clr: #eee;
  
  --fixed-white-clr: #fafafa;
  --fixed-dark-clr: #272838ff;
  --call-clr: #197278ff;
  --secondory-clr: #e1b07eff;
  
  --saving-clr: #96c3d9;
}

.dark-mode {
  --main-clr: #272838ff;
  --main-clr-two: #f1f1f1;
  --bg-clr: #96c3d9;
}

body {
  min-height: 100vh;
  background-color: #fcfcfc;

  transition: 300ms;
}

.fade-out {
  opacity: 0;
}

img {
  border: 2px solid white;
  border-radius: 50%;
  max-width: 100px;
}

a {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: var(--fixed-dark-clr);
}

button {
  cursor: pointer;
  border: 0;
}