.base-note-content.edit .note-content {
  padding: 0;
}

.base-note-content.edit .note-info,
.base-note-content.edit .note-content {
  border: 0;
}


.base-note-content.edit .note-info .note-name,
.base-note-content.edit .note-info .sub-info{
  border: 1px solid #dddddd;
  background-color: gray;
  background-image: none;
}

.base-note-content.edit .note-content::after {
  content: "";
}

.base-note-content.edit textarea {
  display: block;
  width: 100%;
  min-height: 90%;
  padding: 2rem 1rem;

  background-color: var(--main-clr);
  color: var(--main-clr-two);
  font-size: 3rem;
  
  border: 4px solid var(--call-clr);
  animation: glow 1400ms infinite;
}

.base-note-content.edit textarea:focus {
  border: 4px solid var(--call-clr);
  animation-play-state: paused;
}

@keyframes glow {
  0% {
    border: 4px solid var(--call-clr);
  }
  50% {
    border: 4px solid transparent;
  }
  100% {
    border: 4px solid var(--call-clr);
  }
}

.base-note-content.edit button {
  display: inline-block;
  padding: 1rem;
  min-width: 150px;
  min-height: 10%;
  

  font-size: 2rem;
}

.base-note-content.edit button.confirm {
  color: var(--fixed-white-clr);
  background-image: linear-gradient(to bottom, var(--call-clr), var(--fixed-dark-clr));
  margin-left: 1rem;
}

.base-note-content.edit button.cancel {
  color: var(--fixed-dark-clr);
  background-color: #e9e9e9;
}